NEXT_PUBLIC_API_BASE_URL=http://localhost:7890
NEXT_PUBLIC_LOGROCKET_APP_ID=your_logrocket_app_id
NEXT_PUBLIC_PORTAL_URL=http://localhost:3000

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key


